body{
  background-color: transparent !important;
}

.container{
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  padding: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
  margin-left: auto;
  width: 95%;
}
